html

@font-face{
  font-family: 'bespoke';
  src: url('Bespoke-I68PWaAxQ5_webfont/Bespoke-I68PWaAxQ5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  color:lightgreen;
}
.password{
  text-align: center;
  margin: 0 auto;
  color: #0000FF;
  font: normal 13px arial, sans-serif;
}

#header{
 position: relative;
 z-index: 1;
 font-family: 'bespoke';
 font-size:30pt;
}

.butterfly{
  height:100%;
  margin-left: 50%;
  margin-top:20%;
  position:relative;
}

#messagebox{
  width:250px;
  height: 300px;
  color: white;
  background-color:#ffd187;
  position:relative;
  margin-left:80%;
  margin-top: 35%;
  opacity:80%;
}


#button{
  background-color: white, 0;
  border-color: hidden;
  border-radius: 30%;
  color: limegreen;
  height: 19px;
  margin-left:40%;
}


.grid-container{
  display: flex;
  padding-right:20px;
}




@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(white, lightblue)
  }
